#map {
	height: 100%;
	width: 100%;
	padding: 0;
}

#controls {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 2px solid rgba(0, 32, 128, 0.35);

	background-color: rgba(255, 255, 255, 0.6);
	z-index: 99999;
}

.hexbin-hexagon {
	stroke-width: 1px;
	stroke: #000;
}

